body{
    background-image: url(../images/contact.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1{
    font-size: 60px;
    color: #ffffff;
    font-style: 'BebasNeueRegular', 'Arial Narrow';

}

h2{
    font-size: 25px;
    color: #ffffff;
    font-style: 'BebasNeueRegular', 'Arial Narrow';
}

label{
    color: #ffffff;
    margin: 5px;
}

form{
    width: 700px;
}

#competition-form{
    color: #ffffff;
    left: 300px;
    margin-top: 25px;

}

#top_right  {
    position: fixed;
    top:0px;
    right:5px;
    margin: 10px;

}

.socialfb-like  {
    position: fixed;
    top:0px;
    right:40px;
    margin: 10px;
    z-index: 9999999px;

}

.glow   {
font-size: 10px;
color: #FFFFFF;
text-shadow: 1px 1px 6px #555555;
}

#top_right  {
    position: fixed;
    top:0px;
    right:5px;
    margin: 10px;

}


