body{
    background-image: url(../images/comp.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1{
    font-size: 60px;
    color: #ffffff;
    font-style: 'BebasNeueRegular', 'Arial Narrow';

}

h2{
    font-size: 35px;
    color: #ffffff;
    font-style: 'BebasNeueRegular', 'Arial Narrow';
}

p{
    color: #ffffff;
    margin: 5px;
}

#competition-form{
    font-size: 15px;
    color: #FFFFFF;
    text-shadow: 1px 1px 6px #555555;
    margin-top: 25px;
    
}

.comp_enter{
    font-size: 15px;
    color: #FFFFFF;
    text-shadow: 1px 1px 6px #555555;
    margin-top: 25px;

}

#top_right  {
    position: fixed;
    top:0px;
    right:5px;
    margin: 10px;

}

.socialfb-like  {
    position: fixed;
    top:0px;
    right:40px;
    margin: 10px;
    z-index: 9999999px;

}
